
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	padding: 20px;
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	min-height: 100%;
}

.grid-container {
	width: 100%;
	height: 700px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
}

.grid-elem {
	min-height: 50px;
	background-color: rgba(1, 1, 96, 1);
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 26px;
	border: 1px solid #000;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-elem a {
	text-decoration: none;
	color: yellow;
}

.grid-elem a:hover {
	color: red;
}

.news__container {
	padding: 80px 0 88px 0;
	width: 100%;
	display: grid;
	grid-template: repeat(2, minmax(100px, auto)) /repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: 1fr;
	gap: 60px;
	/* align-items: center;
	justify-items: center; */
	/* place-items:  center center; */

	/* place-items: justify-item + align-items; */
	/* place-content: justify-content + align-content; */
	
	/* justify-content: center;
	align-content: center; */
	place-content: center center;
}

.item__img {
	max-width: 180px;
	height: 100px;
}

.item__img img {
	width: 100%;
}

.item__descr {
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}


.fill-container {
	width: 100%;
	display: grid;
	grid-template: repeat(2, minmax(100px, auto)) /repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(100px, 1fr);
	gap: 10px 15px;
}

.fill-elem {
	padding: 10px;
	min-height: 50px;
	background-color: rgba(1, 1, 96, 1);
	color: #fff;
	text-align: center;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fit-container {
	width: 100%;
	display: grid;
	grid-template: repeat(1, minmax(50px, auto)) /repeat(auto-fit, minmax(100px, 150px));
	grid-auto-rows: minmax(50px, auto);
	grid-auto-columns: minmax(100px, 200px);
	gap: 10px 15px;
}

.fit-elem {
	padding: 10px;
	background-color: rgba(1, 1, 96, 1);
	color: #fff;
	text-align: center;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fourth {
	grid-column: 4/5;
	grid-row: 1/3;
}

#fourth .item__img img{
	height: 260px;
}

#sixth {
	grid-column: 2/4;
	grid-row: 2/3;

	/* place-self: justify-self + align-self; */
}

#sixth .item__img img {
	width: 480px;
	height: 100px;
}

.areas-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template: repeat(2, minmax(100px, auto)) / repeat(3, minmax(300px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: 1fr;
	gap: 10px;
	grid-template-areas: 
	"header header header"
	"blog blog massages"
	"footer footer footer"
	;
}

.areas-element {
	padding: 10px;
	background-color: rgb(96, 94, 1);
	color: #fff;
	text-align: center;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	grid-area: header;
}

#blog {
	grid-area: blog;
}

#massages {
	grid-area: massages;
}

#footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	padding: 0 20px;
}

.orange {
	background-color: orange;
	flex: 1 1 auto;
	margin-right: 15px;
}

.orange:last-child {
	margin-right: 0;
}

