* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
	padding: 20px;
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}

.grid-container {
	display: grid;
	grid-template: 50px 150px 50px / 25% 45% 25%;
	gap: 10px 20px;
}

.grid-elem {
    min-height: 50px;
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}